//- index.pug 
//- River James T00202161
extends layout 
block content
  .row.m-3
    .col-12
    
    app-home-list
    
    a.btn.btn-light.btn-sm.fixed-bottom(href="#") Back to top
block scripts
  script(src="/build/polyfills.js")
  script(src="/build/main.js")
  script(src="/build/runtime.js")

    