//- login.pug
//- River James T00202161
extends layout 

block content
  section.position-relative.py-4.py-xl-5
  .container
    .row.mb-5
      .col-md-8.col-xl-6.text-center.mx-auto
        h2 #{title}
        p.w-lg-50 #{loginText}
    .row.d-flex.justify-content-center
      .col-md-6.col-xl-4
        .card.mb-5
          .card-body.d-flex.flex-column.align-items-center
            .bs-icon-xl.bs-icon-circle.bs-icon-primary.bs-icon.my-4
              img.img-fluid(src="../images/icons/pokeball.png")
            form.text-center(method="post")
              .mb-3
                input.form-control(type="email", name="email", placeholder="Email")
              .mb-3
                input.form-control(type="password", name="password", placeholder="Password")
              .mb-3
                button.btn.btn-danger.d-block.w-100(type="submit") #{title}
              a(href="/register") #{haveAccount}